In [88]:
import pandas as pd
import numpy as np

In [89]:
# styles = pd.read_csv(r'Z:\radhakrishnan\Jupyter notebook\PersonalizedRecommendationSystem\FashionStyleRecommendation\styles.csv')
styles = pd.read_csv('styles.csv')
styles.head(2)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,1163.0,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey,NaN,NaN
1,1164.0,Men,Apparel,Topwear,Tshirts,Blue,Winter,2015.0,Sports,Nike Men Blue T20 Indian Cricket Jersey,NaN,NaN

In [90]:
image = pd.read_csv('images.csv')
image.head(2)

       id                                               link
0  1163.0  http://assets.myntassets.com/v1/images/style/p...
1  1164.0  http://assets.myntassets.com/v1/images/style/p...

In [91]:
styles.shape

(44287, 12)

In [92]:
image.shape

(43898, 2)

In [93]:
styles = styles.merge(image, on  = 'id')

MemoryError: Unable to allocate 8.66 GiB for an array with shape (1162338911,) and data type int64

In [94]:
styles.shape

(44287, 12)

In [95]:
styles.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [96]:
styles.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,Unnamed: 10,Unnamed: 11
0,1163.0,Men,Apparel,Topwear,Tshirts,Blue,Summer,2011.0,Sports,Nike Sahara Team India Fanwear Round Neck Jersey,NaN,NaN
1,1164.0,Men,Apparel,Topwear,Tshirts,Blue,Winter,2015.0,Sports,Nike Men Blue T20 Indian Cricket Jersey,NaN,NaN
2,1165.0,Men,Apparel,Topwear,Tshirts,Blue,Summer,2013.0,Sports,Nike Mean Team India Cricket Jersey,NaN,NaN
3,1525.0,Unisex,Accessories,Bags,Backpacks,Navy Blue,Fall,2010.0,Casual,Puma Deck Navy Blue Backpack,NaN,NaN
4,1526.0,Unisex,Accessories,Bags,Backpacks,Black,Fall,2010.0,Sports,Puma Big Cat Backpack Black,NaN,NaN
5,1528.0,Men,Apparel,Topwear,Jackets,Black,Fall,2010.0,Sports,Puma Men Ferrari Black Fleece Jacket,NaN,NaN
6,1529.0,Men,Apparel,Topwear,Tshirts,Red,Fall,2010.0,Casual,Ferrari Tee,NaN,NaN
7,1530.0,Men,Apparel,Topwear,Jackets,Red,Fall,2010.0,Sports,Puma Men Ferrari Track Jacket,NaN,NaN
8,1531.0,Men,Apparel,Topwear,Tshirts,Grey,Fall,2010.0,Casual,Puma Men Grey Solid Round Neck T-Shirt,NaN,NaN
9,1532.0,Men,Apparel,Topwear,Tshirts,Grey,Fall,2010.0,Casual,Puma Men Grey Leaping Cat T-shirt,NaN,NaN

In [97]:
styles.columns

Index(['id', 'gender', 'masterCategory', 'subCategory', 'articleType',
       'baseColour', 'season', 'year', 'usage', 'productDisplayName',
       'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [98]:
# styles = styles[['id','gender','masterCategory','subCategory']]
styles.isnull().sum()

id                    34288
gender                34288
masterCategory        34288
subCategory           34288
articleType           34288
baseColour            34291
season                34308
year                  34288
usage                 34305
productDisplayName    34288
Unnamed: 10           44266
Unnamed: 11           44285
dtype: int64

In [99]:
styles = styles[['id','gender','masterCategory','subCategory','articleType','productDisplayName']]

In [100]:
styles.head(2)

,id,gender,masterCategory,subCategory,articleType,productDisplayName
0,1163.0,Men,Apparel,Topwear,Tshirts,Nike Sahara Team India Fanwear Round Neck Jersey
1,1164.0,Men,Apparel,Topwear,Tshirts,Nike Men Blue T20 Indian Cricket Jersey

In [101]:
styles.isnull().sum()

id                    34288
gender                34288
masterCategory        34288
subCategory           34288
articleType           34288
productDisplayName    34288
dtype: int64

In [102]:
styles.dropna(inplace = True)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_4048\751428644.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  styles.dropna(inplace = True)

In [103]:
styles.isnull().sum()

id                    0
gender                0
masterCategory        0
subCategory           0
articleType           0
productDisplayName    0
dtype: int64

In [104]:
styles.duplicated().sum()

0

In [105]:

# import ast
# def convertstrtolist(text):
#     l = []
#     for i in ast.literal_eval(text):
#         l.append(i)
#     return l

In [106]:
# styles['gender'] = styles['gender'].apply(convertstrtolist)
# styles['masterCategory'] = styles['masterCategory'].apply(convertstrtolist)
# styles['subCategory'] = styles['subCategory'].apply(convertstrtolist)
# styles['articleType'] = styles['articleType'].apply(convertstrtolist)

In [107]:
styles['tag'] = styles['gender'] +" " + styles['masterCategory'] +" " + styles['subCategory'] + " " + styles['articleType']
styles.head(5)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_4048\763881995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  styles['tag'] = styles['gender'] +" " + styles['masterCategory'] +" " + styles['subCategory'] + " " + styles['articleType']

,id,gender,masterCategory,subCategory,articleType,productDisplayName,tag
0,1163.0,Men,Apparel,Topwear,Tshirts,Nike Sahara Team India Fanwear Round Neck Jersey,Men Apparel Topwear Tshirts
1,1164.0,Men,Apparel,Topwear,Tshirts,Nike Men Blue T20 Indian Cricket Jersey,Men Apparel Topwear Tshirts
2,1165.0,Men,Apparel,Topwear,Tshirts,Nike Mean Team India Cricket Jersey,Men Apparel Topwear Tshirts
3,1525.0,Unisex,Accessories,Bags,Backpacks,Puma Deck Navy Blue Backpack,Unisex Accessories Bags Backpacks
4,1526.0,Unisex,Accessories,Bags,Backpacks,Puma Big Cat Backpack Black,Unisex Accessories Bags Backpacks

In [108]:
new_df = styles[['id','productDisplayName','tag']]

In [109]:
new_df.head(5)

,id,productDisplayName,tag
0,1163.0,Nike Sahara Team India Fanwear Round Neck Jersey,Men Apparel Topwear Tshirts
1,1164.0,Nike Men Blue T20 Indian Cricket Jersey,Men Apparel Topwear Tshirts
2,1165.0,Nike Mean Team India Cricket Jersey,Men Apparel Topwear Tshirts
3,1525.0,Puma Deck Navy Blue Backpack,Unisex Accessories Bags Backpacks
4,1526.0,Puma Big Cat Backpack Black,Unisex Accessories Bags Backpacks

In [110]:
new_df['tag'] = new_df['tag'].apply(lambda x : x.lower())
new_df.head(5)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_4048\2421065546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x : x.lower())

,id,productDisplayName,tag
0,1163.0,Nike Sahara Team India Fanwear Round Neck Jersey,men apparel topwear tshirts
1,1164.0,Nike Men Blue T20 Indian Cricket Jersey,men apparel topwear tshirts
2,1165.0,Nike Mean Team India Cricket Jersey,men apparel topwear tshirts
3,1525.0,Puma Deck Navy Blue Backpack,unisex accessories bags backpacks
4,1526.0,Puma Big Cat Backpack Black,unisex accessories bags backpacks

In [111]:
import nltk
from nltk.stem import PorterStemmer

In [112]:
ps = PorterStemmer()

In [113]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [114]:
new_df['tag'] = new_df['tag'].apply(stems)

C:\Users\ags-008\AppData\Local\Temp\ipykernel_4048\4157280829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stems)

In [115]:
new_df.head(5)

,id,productDisplayName,tag
0,1163.0,Nike Sahara Team India Fanwear Round Neck Jersey,men apparel topwear tshirt
1,1164.0,Nike Men Blue T20 Indian Cricket Jersey,men apparel topwear tshirt
2,1165.0,Nike Mean Team India Cricket Jersey,men apparel topwear tshirt
3,1525.0,Puma Deck Navy Blue Backpack,unisex accessori bag backpack
4,1526.0,Puma Big Cat Backpack Black,unisex accessori bag backpack

In [116]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words ='english')

In [117]:
vector = cv.fit_transform(new_df['tag']).toarray()

In [118]:
vector

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [119]:
vector.shape

(9999, 83)

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

In [121]:
similarity = cosine_similarity(vector)

In [122]:
similarity

array([[1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.85714286],
       [0.        , 0.        , 0.        , ..., 1.        , 1.        ,
        0.85714286],
       [0.        , 0.        , 0.        , ..., 0.85714286, 0.85714286,
        1.        ]])

In [147]:
def recommendation(dress):
    index = new_df[new_df['productDisplayName'] == dress].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse = True, key=lambda x:x[1])
    for i in distance[0:11]:
        print(new_df.iloc[i[0]].productDisplayName)

In [148]:
recommendation('Nike Sahara Team India Fanwear Round Neck Jersey')

Nike Sahara Team India Fanwear Round Neck Jersey
Nike Men Blue T20 Indian Cricket Jersey
Nike Mean Team India Cricket Jersey
Ferrari Tee
Puma Men Grey Solid Round Neck T-Shirt
Puma Men Grey Leaping Cat T-shirt
Puma Men Cat Red T-shirt
Puma Men Black Leaping Cat T-shirt
Puma Men Black Net Jersey
Puma Men Red Net Jersey
Puma Men Ferrari Track Black T-shirt

In [131]:
import pickle

In [149]:
pickle.dump(new_df, open('pickleData/style_list.pkl','wb'))
pickle.dump(similarity, open('pickleData/similarity.pkl','wb'))

In [150]:
new_df[new_df['productDisplayName'] == 'Puma Men Black Leaping Cat T-shirt'].index[0]

11

In [153]:
style = pd.read_pickle('pickleData/similarity.pkl')

In [154]:
style.head(5)

AttributeError: 'numpy.ndarray' object has no attribute 'head'